.menu {
	position: fixed;
	text-align: center;
	width: 100%;
	background-color: white;
	padding: 10px;
}
a {
	text-decoration: none;
}
.menu a {
	margin: 4%;
	color: black;
}
.menu a:hover {
	color: orange;
}
.header {
	text-align: center;
	background: url(polygons.png);
	width: 78%;
	padding:10%  5%;
	background-size: 100%;
	margin: auto;
	color: white;
} 
.header a {
	padding: 8px;
	background-color: white;
	color: black;
	border-radius: 5px;
	display: block;
	margin: 20px;
	width: 78px;
	margin: auto;
}
.logo {
	width: 30%;
}
h2 {
	text-align: center;
}
.aboutflex {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about {
	padding: 0 5%;
}
body {
	margin: 0;
}
.teamflex {
	display: flex;
	justify-content: space-around;
}
.teamitem {
	width: 23%;
	box-shadow: 0 0 10px grey;
	padding: 10px;
	box-sizing: border-box;
}
.teamitem img {
	width: 100%;
}
.professional {
	color: grey;
}
.slog {
	text-align: center;
}
.teamitem a {
	display: block;
	background-color: rgb(12 72 96);
	color: white;
	text-align: center;
	padding: 5px;
	border-radius: 7px;
}
.flextarifs {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
ol {
 list-style-type: none;
 text-align: center;
 width: 25%;
 padding-left: 0;
}
li {
	padding: 7px;
	background-color: white;
}
.tarif {
	background-color: rgb(79 78 78);
}
.base {
	background: black;
	color: white;
	padding: 20px;
}
.pro {
	background: rgb(12 76 96);
	color: white;
	padding: 25px;
}
.blink {
	display: block;
	padding: 5px;
	color: white;
	background-color: rgb(0 0 0);
	width: 40%;
	margin: auto;
	border-radius: 5px;
}
.by {
	background-color: rgb(239 237 237);
}
.rub{
	font-weight: bold;
	font-size: 21px;
}
.day {
	color: rgb(130 130 130);
	font-size: 13px;
}
.moscowflex {
	display: flex;
	justify-content: left;
	padding-left: 30px;
}
.location {
	width: 17px;
}
.moscowflex p {
	margin: 0 10px 0 20px;
}
.write {
	text-align: center;
}
.flexphone {
	display: flex;
	justify-content: left;
	padding-left: 30px;
}
.number{
	margin:0 0 0 20px;
}
.phonenumber{
	margin: 0;
}
.flexphone img {
	width: 17px;
}
.email {
	margin:0 0 0 20px
}
.flexemail {
	display: flex;
	justify-content: left;
	padding-left: 30px;
}
.contactinfo div{
	padding: 10px;
}
.mailimg {
	width: 18px;
}
.mail {
	margin: 0;
}
input, textarea {
	width: 90%;
	margin:10px;
	border-radius: 0;
	border-style: none;
	padding: 7px;
}
.contactinfo{
	background-color: rgb(237 237 237);
}
.mi {
	background-color: black;
	color: white;
	width: 101px;
	padding: 7px;
}
.control {
	color: white;
	background-color: black;
	margin: 0;
}
.contacts {
	margin-top: 0;
}
.footer {
	margin: 0;
}
.submi {
	text-align: center;
}
}